<div class="relative">
  <button type="button" class="flex items-center gap-2 rounded border border-gray-300 text-gray-700 text-sm font-medium px-4 py-2 hover:bg-gray-50 cursor-pointer"
    [class.bg-blue-50]="menuOpen" [class.border-blue-500]="menuOpen" (click)="toggleMenu()">
    Recherches
    <span class="rounded-full bg-gray-100 px-1.5 text-xs text-gray-600" [class.bg-red-100]="searchesService.active.length === 0" [class.text-red-700]="searchesService.active.length === 0">
      {{ searchesService.active.length }}/{{ searchesService.searches.length }}
    </span>
    <i class="far fa-angle-down text-gray-400"></i>
  </button>

  @if (menuOpen) {
    <div class="menu">
      @for (search of searchesService.searches; track search.id) {
        <div class="search-row">
          <button type="button" class="flex flex-1 min-w-0 items-start gap-2 text-left cursor-pointer" [title]="search.active ? 'Désactiver' : 'Activer'" (click)="toggle(search)">
            <i class="fa-fw mt-0.5" [class.fas]="search.active" [class.fa-square-check]="search.active" [class.text-blue-600]="search.active"
              [class.far]="!search.active" [class.fa-square]="!search.active" [class.text-gray-300]="!search.active"></i>
            <span class="min-w-0">
              <span class="block truncate text-gray-900" [class.text-gray-500]="!search.active">{{ search.name }}</span>
              <span class="block truncate text-xs text-gray-400">{{ summary(search) }}</span>
            </span>
          </button>
          <button type="button" class="edit" title="Modifier" (click)="edit(search)"><i class="far fa-pen fa-fw"></i></button>
        </div>
      }
      <div class="border-t border-gray-100 my-1"></div>
      <button type="button" class="menu-item" (click)="newSearch()"><i class="far fa-plus fa-fw text-gray-400"></i>Nouvelle recherche…</button>
      <button type="button" class="menu-item" (click)="openModal()"><i class="far fa-gear fa-fw text-gray-400"></i>Gérer les recherches…</button>
    </div>
  }
</div>
