@if (filtersArray.length > 0) {
  <div class="flex items-center gap-2 flex-wrap text-sm">
    @for (filter of filtersArray; track filter) {
      <div class="py-1 px-3 pr-2 flex gap-2 border border-gray-200 rounded-lg bg-white font-medium">
        <span class="text-gray-400">{{ filter.label | titlecase }}</span>
        <span class="text-blue-600">{{ getFilterDisplayLabel(filter) }}</span>
        <div class="text-blue-600 cursor-pointer" (click)="removeFilter(filter)"><i class="fas fa-times fa-fw"></i></div>
      </div>
    }
    @if (filtersArray.length >= 2) {
      <button type="button" class="px-1 text-gray-500 hover:text-gray-700 underline cursor-pointer" (click)="clearFilters()">Tout effacer</button>
    }
  </div>
}

<app-filter [attributes]="attributes" (refresh)="applyFilters($event)" #filterComponent></app-filter>
